<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-12">
        <h2 class="text-center">Uploaded Files</h2>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-xl-12">
        <%= link_to 'Import CSV File', new_contact_file_path, class: "btn btn-success" %>
        <%= link_to 'Contacts', contacts_path, class: "btn btn-primary" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xl-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">File name</th>
              <th scope="col">Status</th>
              <th scope="col">Errors</th>
            </tr>
          </thead>
          <tbody>
            <% @contact_files.each_with_index do |contact_file, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td>
                <%= link_to contact_file.file.filename, rails_blob_path(contact_file.file, disposition: 'attachment') %>
              </td>
              <td>
                <span class="badge bg-<%= contact_file.badge %>"><%= contact_file.status %></span>
              </td>
              <td>
                <ol class="list-group list-group-numbered">
                  <% contact_file.row_errors.each do |row_error| %>
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Row: <%= row_error[:row] %></div>
                      <% row_error[:errors].each do |error_key| %>
                        <%= t("contact_file_errors.#{error_key}") %> <br>
                      <% end %>
                    </div>
                  </li>
                  <% end %>
                </ol>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= render 'partials/pagination' %>
      </div>
    </div>
  </div>
</div>
